################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/QICore.ElasticSearchCore/.vs
/QICore.ElasticSearchCore/obj
/QICore.ElasticSearchCore/.editorconfig
/QICore.ElasticSearchCore.WebApi/bin/Debug/netcoreapp3.1
/QICore.ElasticSearchCore.WebApi/obj
/QICore.ElasticSearchCore.WebApi/Properties
/QICore.QuartzCore/.vs/QICore.QuartzCore/v16
/QICore.QuartzCore/QICore.QuartzCore/bin/Debug/netcoreapp2.2
/QICore.QuartzCore/QICore.QuartzCore/obj/Debug/netcoreapp2.2
/QICore.QuartzCore/QICore.QuartzCore/obj
*.zip
/.vs
/QICore.ConsoleTest/bin/Debug/netcoreapp2.2
/QICore.CoreMvc/bin/Debug/netcoreapp2.1
/QICore.CoreMvc/obj/Debug/netcoreapp2.1
/QICore.CoreMvc/obj
/QICore.Modes/bin/Debug/netcoreapp2.0
/QICore.Modes/obj/Debug/netcoreapp2.0
/QICore.ConsoleTest/obj
/QICore.Modes/obj
/QICore.NCommon/bin/Debug/netcoreapp2.0
/QICore.NCommon/obj/Debug/netcoreapp2.0
/QICore.NCommon/obj
/QICore.NDapper/bin/Debug/netcoreapp2.0
/QICore.NDapper/obj
/QICore.NetSocketClient/bin/Debug/netcoreapp2.0
/QICore.NetSocketClient/obj
/QICore.NetSocketServer/bin/Debug/netcoreapp2.0
/QICore.NetSocketServer/obj/Debug/netcoreapp2.0
/QICore.NetSocketServer/obj
/QICore.NIdentityServer4/bin/Debug/netcoreapp2.1
/QICore.OIDC/bin/Debug/netcoreapp2.2
/QICore.OIDC/obj/Debug/netcoreapp2.2
/QICore.OIDC/obj
/QICore.OAuthResourceServer/obj
/QICore.OAuthAuthorizationServer/bin/Debug/netcoreapp2.2
/QICore.OAuthAuthorizationServer/obj/Debug/netcoreapp2.2
/QICore.OAuthAuthorizationServer/obj
/QICore.OAuthResourceServer/bin/Debug/netcoreapp2.2
/QICore.NxUnitTest/bin/Debug/netcoreapp2.1
/QICore.NxUnitTest/obj/Debug/netcoreapp2.1
/QICore.NxUnitTest/obj
/QICore.NSignalR/bin/Debug/netcoreapp2.2
/QICore.NSignalR/obj
/QICore.NRedis/obj
/QICore.NRedis/bin/Debug/netcoreapp2.0
/QICore.NRabbitMQ/obj
/QICore.NRabbitMQ/bin/Debug/netcoreapp2.0
/QICore.NQuartz/obj
/QICore.NQuartz/bin/Debug/netcoreapp2.0
/QICore.NOAuth2.0/obj
/QICore.NOAuth2.0/bin/Debug/netcoreapp2.2
/QICore.NIdentityServer4/obj
