################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.pdb
*.dll
*.lock
*.cache
obj
bin
*
bin
obj
bin
obj
obj
bin
bin
obj
bin
obj
obj
bin
bin
obj
