<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="">

  <!-- define various log targets -->
  <targets>
    <!-- 输出所有的日志文件 -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/Logs/nlog-all-${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}${newline}-------------------------------------------------------------------------------------------------" />
    
    <!-- 另外一个日志记录文件,户口也跳过Microsoft开头相关日志信息 -->
    <target xsi:type="File" name="ownFile-web" fileName="${basedir}/Logs/nlog-own-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|  ${message} ${exception}${newline}-------------------------------------------------------------------------------------------------" />
    
    <!-- 记录错误的日志信息 -->
    <target xsi:type="File" name="errorfile" fileName="${basedir}/Logs/nlog-error-${shortdate}.log"
					   layout="${longdate}${newline}|${uppercase:${level}}|接口：${callsite}|url: ${aspnet-request-url}|第${callsite-linenumber}行${newline}消息： ${message}${newline}-------------------------------------------------------------------------------------------------  " />

    <target xsi:type="Null" name="blackhole" />
    <!-- 常规的控制台输出 -->
    <target name="Console"
            xsi:type="Console"
            layout="[${longdate}] ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}: ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}---------------------------" />

  
  </targets>

  <rules>
    <!--全部记录,包括Microsoft开头的相关日志信息-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs,-->
    <!-- 除非调试需要，把 .NET Core 程序集的 Debug 输出都屏蔽 -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <!-- 记录错误的日志信息 -->
    <logger name="*" minlevel="Debug" levels="Debug,Error" writeTo="errorfile" />
  </rules>
</nlog>